<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"><Package Name="Onyx Endpoint Agent" Manufacturer="Onyx" Version="1.0.0" UpgradeCode="E8A6B1F8-47A9-45F0-87D1-1D5D0D7EF001"><MediaTemplate/><StandardDirectory Id="ProgramFiles64Folder"><Directory Id="ONYXDIR" Name="Onyx"><Component Id="AgentExecutable" Guid="*"><File Id="OnyxAgentExe" Source="..\..\dist\OnyxAgent.exe" KeyPath="yes"/><ServiceInstall Id="OnyxService" Name="OnyxEndpointAgent" DisplayName="Onyx Endpoint Agent" Start="auto" Type="ownProcess" ErrorControl="normal" Arguments="run"/><ServiceControl Id="OnyxServiceControl" Name="OnyxEndpointAgent" Start="install" Stop="both" Remove="uninstall"/></Component></Directory></StandardDirectory><Feature Id="Main"><ComponentRef Id="AgentExecutable"/></Feature></Package></Wix>
